<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
    <h1>Schedule-tron: version 0.01</h1>


    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputUsername">Username</label>
            <input type="text" value="Username" required="true" id="inputUsername" />
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" required="true" />

            <input type="submit" value="Sign In" />
        </form>

    </div>
</body>
</html>